{% extends "base.html" %}

{% block title %}{{benchmark_name}} Latency Report{% endblock %}

{% block header %}{{benchmark_name}} Latency Report{% endblock %}

{% block subtitle %}
  Subject: {{metadata.get("subject_name")}}
  {{help_icon("overview", "white-text", True)}}
{% endblock %}

{% block content %}
  <div class="container">

    <!-- Info and Metadata Section -->
    <ul class="collection" style="margin-top: 1em;">
      <li class="collection-item">
        <strong>Benchmark Name:</strong> {{benchmark_name}}
      </li>
      {% for key, value in metadata.items() %}
        <li class="collection-item"><strong>{{key}}:</strong> {{value}}</li>
      {% endfor %}
    </ul>

    <!-- Results Section -->
    <h2 class="blue-text text-darken-2">Results</h2>

    <!-- Overview Histograms -->
    <div class="row">
      {% for series_name, series_info in measurements.series_infos.iteritems() %}
        {{ plotcard(id = "histogram",
                    src = "%s/%s_histogram" % (data_dir, series_name),
                    title = series_name,
                    subtitle = hist_subtitle(series_info, measurements.SummarizeValues(series_name)),
                    centered = True) }}
      {% endfor %}
    </div>

    {% for repetition in repetitions %}
      {% set rep_num = loop.index %}
      <h5 class="blue-text text-darken-2">
        Repetition #{{loop.index}}
        <a class="" href="{{repetition.report_url}}">(Full Report)</a>
      </h5>
      <div class="row">
        {% for series_name, series_info in repetition.measurements.series_infos.iteritems() %}
          {{ plotcard(id = "histogram",
                      src = "%s/rep%02d_%s_histogram" % (data_dir, rep_num - 1,series_name),
                      title = series_name,
                      subtitle = hist_subtitle(series_info, repetition.measurements.SummarizeValues(series_name)),
                      centered = True) }}
        {% endfor %}
      </div>
    {% endfor %}
{% endblock %}