.moblab-selector-label {
  width: 150px;
}

md-sidenav {
  width: 200px;
  min-height: 4000px;
}

.sidenav-button {
  width: 180px;
  text-align: left;
}

.sidenav-container {
  min-height: 800px;
}

.sidenav-container md-sidenav {
  max-width: 200px;

}

.sidenav-container .md-sidenav-content,
.sidenav-container md-sidenav {
  display: flex;

  align: left;
}

